<div id="ageVerificationModal">
    <div class="verification-container">
        <div class="verification-icon"></div>
        
        <h1>This website contains adult content. You must be at least 18 years old to proceed.</h1>
        
        <p>By clicking "I am over 18", you confirm that you are legally allowed to view this content in your region.</p>
        
        <button class="verification-button verification-button-exit" onclick="window.leaksApp.handleExit()">EXIT</button>
        <button class="verification-button verification-button-confirm" onclick="window.leaksApp.handleConfirm()">I AM OVER 18</button>
    </div>
</div>
